<!doctype html>
<html lang="zh-Hant-TW">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
	<link href="../style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;1000&display=swap" rel="stylesheet">
</head>

<body>
	<footer>
		<div class="footer-logo">Ocean Dream</div>
    	<p>11402餐旅資訊管理_第5組成果報告示範</p>

    	<div class="social-icons">
        	<a href="#"><i class="fab fa-facebook"></i></a>
        	<a href="#"><i class="fab fa-instagram"></i></a>
        	<a href="#"><i class="fab fa-line"></i></a>
        	
    	</div>
	</footer>

</body>
</html>